{% extends 'main/base.html' %}
{% block links %}
<!-- <link rel="stylesheet" href="{{ url_for('main.static', filename='css/recipe-styles.css') }}"> -->
<script src="{{ url_for('main.static', filename='js/recipeScript.js') }}" defer></script>
{% endblock %}

{% block title %}{{ recipe.title }} Recipe{% endblock %}

{% block content %}
<div class="page-content-container">
  <div class="page-content">
    <h1 class="recipe-title">
      {{ recipe.title }}
    </h1>
    {% if recipe.image_url %}
    <div class="img-container">
      <img src="{{ url_for('static', filename=recipe.image_url) }}" class="img" alt="{{ recipe.title }} - Flower Grid Cooking">
    </div>
    {% endif %}
    <div class="recipe-blurb recipe-item">
      {{ recipe.blurb | safe }}
    </div>
    <h3>
      Ingredients
    </h3>
    <div class="ingredients recipe-item">
      {{ recipe.ingredients | safe }}
    </div>
    <h3>
      Cooking Instructions
    </h3>
    <div class="steps recipe-item">
      {{ recipe.steps | safe }}
    </div>
  </div>
  <a href="{{ url_for('main.recipes')}}" class="back-button button-styles">← Back to Recipes</a>
</div>


{% endblock %}