.hamburger-menu {
    display: none;
}

@media (max-width: 768px) { 
    h1 {
        font-size: 1.5rem;
    }

    /* Header Styles */
    nav {
        justify-content: center;
        padding: 1rem;
    }

    .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    min-height: 150px;
    padding: 0;
    gap: 1rem;
    }

    .logo {
        height: 120px;
        width: 120px;
    }

    .hamburger-menu{
        padding: 1rem;
        display: flex;
    }

    .hamburger {
        display: block;
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .hamburger span {
        height: 5px;
        width: 100%;
        background-color: #fdfaf0;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        /* left: 50%; */
        transform: (translate(-50%, -50%));
        transition: .3 ease;
    }

    .hamburger.open span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        display: none;
    }

    .hamburger.open span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .hamburger span:nth-child(1) {
        top: 25%;
    }

    .hamburger span:nth-child(3) {
        top: 75%;
    }

    .nav-links {
        display: none;
        position: absolute;
        font-size: 2rem;
        top: 150px;
        left: 0;
        right: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        /* background-color: #eeb230; */
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 4rem 0;
        transition: .3 ease;
        z-index: 100;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-link {
        font-size: 22pt;
    }

    .welcome-message {
        display: none;
    }

    .welcome-message h1,
    .welcome-message p {
        margin: 0;
    }

    /* Main content styling */
    .main-content {
        padding: 1.5rem;
    }

    /* Admin Content */
    .admin-hidden {
        display: none;
    }

    .user-info-btn {
        width: 200px;
        margin-bottom: 0;
        margin-top: 30px;
        padding: 1.5rem;
    }

    #submit {
        align-self: stretch;
        padding: 1rem 4rem;
        box-sizing: border-box;
        margin-top: 30px;

    }

    /* Blog Posts */
    .page-content-container {
        width: 100%;
    }

    /* Buttons */

    .button-styles {
        width: 100%;
        padding: 1rem;
        margin: 24px 0;
    }
}