<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/pk_favicon.png')}}" type="image/x-icon">
  {% block links %}{% endblock%}
  <script src="{{ url_for('static', filename='js/pizzaKing.js') }}" defer></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <div class="header">
      <div class="heading-graphic">
        <a href="{{ url_for('index') }}" class="heading-logo-link">
          <div class="logo">
            <img src="{{ url_for('static',  filename='images/pk_pics/user_logo.png') }}" alt="Flower Grid Cooking">
          </div>
        </a>
      </div>
      <div class="nav">
        <nav>
          <div class="hamburger-menu">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <ul class="nav-links">
            <li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
            <!-- <li><a href="{{ url_for('do_calc')}}" class="nav-link">Dough Calculator</a></li> -->
            <li><a href="{{ url_for('recipes')}}" class="nav-link">Recipes</a></li>
            <li><a href="{{ url_for('blog')}}" class="nav-link">Blog</a></li>
            <li><a href="{{ url_for('merch')}}" class="nav-link">Merch</a></li>
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Social</a></li>
          </ul>
        </nav>
      </div>
      <div class="welcome-message">
        <div class="welcome-message-content">
          <h2>Flower Grid Cooking</h2>
          <p class="bold-text">
            Supper's ready, y'all!
          </p>
        </div>
      </div>
      
    </div>
    <div class="main-content">
      {% block content%}{% endblock %}
    </div>
    <div class="footer">
      <p>© 2025 Flower Grid Cooking</p>
      <p> | </p>
      <p>Site design by Flower Grid Coding</p>
    </div>
  </div>
</body>
</html>