<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/pizzaKing.js" defer></script>
  <title>Pizza King Landing Page</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="page-heading">
        <h1>The Pizza King</h1>
        <h4>Denton ● Tx</h4>
      </div>
      <div class="nav">
        <nav>
          <div class="hamburger-menu">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <ul class="nav-links">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Pizzas</a></li>
            <li><a href="#" class="nav-link">Merch</a></li>
            <li><a href="https://www.instagram.com/pizzakingdtx/" class="nav-link">Social</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main-content">
      <div class="welcome-heading">
          <div class="heading-graphic">
            <div class="logo">
              <img src="../static/pizza_king.jpg" alt="The Pizza King of Denton Texas">
            </div>
          </div>
          <div class="welcome-message">
            <h1>I Am The Pizza King</h1>
            <p class="bold-text">
              I dub thee delish.
            </p>
          </div>
        </div>
      <div class="panels">
        <div class="panel ad-panel left-panel">
          <div class="ad-box"></div>
        </div>
        <div class="panel center-panel">
        
        </div>
        <div class="panel ad-panel right-panel">
          <div class="ad-box"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>© 2025 The Pizza King DTX</p>
      <p> | </p>
      <p>Site design by Flower Grid Coding</p>
    </div>
  </div>
</body>
</html>