{% extends 'main/base.html' %}
{% block title %}Flower Grid Cooking: Home{% endblock %}

{% block content%}
<div class="index-main">
  <div class="hero-section">
    <div class="heading">
      <h1>Don't go out for dinner, make it yourself even better at home</h1>
      <h3>Ditch the fast food and cook the most delicious meals you and those you care for will ever eat</h3>
    </div>
    <div class="img-container">
      <img src="{{ url_for('static', filename='images/pk_animated.png')}}" class="img" alt="Weclome to Flower-Grid Cooking: I hope you're hungry">
    </div>      
      <p class="social-proof">There's nothing more delicious that a meal you took the time to prepare for yourself. Your attention, your time, and your passion are the secret ingredients not available at any super market. Your family and friends can taste the difference too.</p>
    <div class="cta">  
      <p>Food connects people in a special way, that's no secret. So come on in and let's learn to cook delicious meals together. Supper's ready, y'all!</p>
      <a href="{{ url_for('main.recipes')}}" class="button-styles">Let's get started!</a>
    </div>    
  </div>
  
</div>

{% endblock %}