.dough-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.calc-tbl {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

p {
    font-size: 14pt;
}

.num-input {
    margin-top: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.dough-recipe select {
    width: 100px;
    font-size: 16pt;
}

.dough-recipe th,
.dough-recipe td {
    font-size: 16pt;
    padding: .5rem;
    width: 33%;
    border: 1px solid black;

}

.dough-recipe td {
    text-align: right;
    

}

label {
    font-size: 16pt;
}

#pie-num {
    width: 7ch;
    font-size: 16pt;
    text-align: center;
    box-sizing: border-box;
}

.pizza-king-instructions {
    margin-top: 16px;
}

.signoff {
    text-align: right;
    margin: 0;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .dough-container {
        max-width: 100%;
    }
}