.recipe-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.recipe-content h3 {
    font-size: 22pt;
    margin-bottom: 4px;
}

.recipe-title {
    font-size: 30pt;
    align-self: center;
}


.recipe-item a {
    color: #0566b8;
}


a:hover {
    color: #eeb230;
}

ul li {
    margin: 12px 0;
}

@media (max-width: 768px) {
    .recipe-content {
        width: 100%;
        padding: .25rem;
    }
}