body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #413324;
}

.bold-text {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    min-height: 100vh;
}

.header,
.footer {
    padding: 1rem;
    /* background-color: #eeb230; */
    background-color: #48615b;
    color: #fbf3d9;
}

.header {
    display: grid;
    /* min-height: 25%; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: space-between;
    align-items: center;
    padding: .7rem 4.5rem;
}

.page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.page-heading h1,
.page-heading h4 {
    margin: 0;
}

.welcome-message {
    display: flex;
    justify-content: end;
}

.welcome-message-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.welcome-message-content h2,
.welcome-message-content p {
    margin: 4px;
}

.welcome-message-content h2 {
    font-size: 28pt;
}

.logo {
    height: 155px;
    width: 155px;
    overflow: hidden;
    border-radius: 50%;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.nav-links {
    display: flex;
    justify-content: end;
    /* background-color: #eeb230; */
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    transition: transform .2s ease, color .2s ease;
    font-size: 13pt;
    color: #fbf3d9;
}

.nav-link:visited {
    color: inherit;
}

.nav-link:hover {
    color: #413324;
    transform: scale(1.1);
}

nav li {
    list-style: none;
    margin: 0;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Buttons */
.button-styles {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    /* background-color: #F1F3F4; */
    /* background-color: #eeb230; */
    background-color: #48615b;
    /* background-color: #61474D; */
    color: #fbf3d9;
    text-shadow:
        1px 0 #413324,
        -1px 0 #413324,
        0 1px #413324,
        0 -1px #413324,
        1px 1px #413324,
        -1px -1px #413324,
        1px -1px #413324,
        -1px 1px #413324;
    text-decoration: none;
    border: 6px solid #fbf3d9;
    border-radius: 30px;
    box-sizing: border-box;
    padding: .75rem 1rem;
    min-width: 200px;
    margin: 24px 0;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0 0 0 1px #413324,
    inset 0 0 0 1px #413324,
    0 4px 6px rgba(0, 0, 0, 0.3);

}

.button-styles:active {
    /* background-color: #df9f13; */
    background-color: #61474D;
    box-shadow: 
        3px rgba(0, 0, 0, 0.4),
        inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.main-content {
    display: flex;
    flex: 1;
    background-color: #fdfaf0;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
}

.heading-graphic p {
    margin: 0;
    font-weight: bold;
}

.footer {
    display: flex;
    padding: 1rem;
    min-height: 18%;
    justify-content: center;
    gap: 12px;
    font-size: 8pt;
}

.footer p {
    margin: 0;
}

.error-handling-message-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 88px;
}

.error-handling-message h1 {
    margin: 0;
    font-size: 42pt;
}

.error-handling-message h3 {
    margin: 0;
}

/* Recipe/blog Styles */
.page-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.page-content {
    display: flex;
    flex-direction: column;
}

.page-content h3 {
    font-size: 22pt;
    margin-bottom: 12px;

}

.page-content h1 {
    font-size: 30pt;
    align-self: center;
}

.page-content a {
    color: #0566b8;
}

.page-content a:hover {
    color: #eeb230;
}

.page-content ul li {
    margin: 12px 0;
}

.page-content h1 {
    align-self: center;
}

.page-content .img-container {
    width: 60%;
    align-self: center;
    margin: 16px 0;
}

.page-content .img-container img {
    aspect-ratio: 4 / 2.5;
}

.page-content ol li {
    line-height: 1.5;
}

/* Landing page */
.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}

.img-container {
    border-radius: 6px;
    overflow: hidden;
    margin: 12px 0;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero-section h1 {
    margin: 0;
    font-size: 32pt;
}

.hero-section h5 {
    font-size: 12pt;
    margin-top: 6px;
}

@media (min-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'heading image'
        'social-proof image'
        'cta image';
        text-align: left;
        padding: 2rem;
        width: 80%;
        column-gap: 1rem;
    }

    .heading {
        grid-area: heading;
    }

    .social-proof {
        grid-area: social-proof;
    }

    .cta {
        grid-area: cta;
    }

    .cta .button-styles {
        justify-self: start;
    }

    .img-container {
        grid-area: image;
    }
}