{% extends 'admin/base.html' %}

{% block admin_styles %}
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/add-post-styles.css')}}">
  <script src="{{ url_for('admin.static', filename='js/adminAddPost.js') }}" defer></script>
{% endblock %}

{% block admin_content %}
  <form class="add-post-form" id="add-post-form" action="{{ url_for('admin.add_recipe') }}" method="post" enctype="multipart/form-data" >
      {{ form.hidden_tag() }}
      {{ form.recipe_id }}
      
      <div class="title-container">
        <div class="title-input-container">{{ form.title.label }}{{ form.title() }}</div>
        {# <!-- <div class="category-container">
          {{ form.category.label }}
          <div class="category-container">{{ form.category() }}</div>
        </div> --> #}
      </div>



      <!-- Tags -->
      <div class="tags-container">
        <h4>Tags</h4>
        <div class="tag-input-container">
          <!-- <label for="tag-input">Enter a tag</label> -->
          <input type="text" name="tag-input" id="tag-input" maxlength="30" placeholder="Add a tag">
          <input type="button" id="tag-input-button" class="button-styles" value="Add Tag">
        </div>
        <ul class="tags-display">
        </ul>
      </div>

      <div class="photo-container">
        {{ form.photo.label }} {{ form.photo() }}    
        {% if data.img %}
        <div class="img-preview-container">
          <img src="{{ url_for('static', filename=data.img) }}" alt="Image">
        </div>
        {% endif %}
      </div>
      
      <div class="blurb-container">{{ form.blurb.label }} {{ form.blurb() }}</div>
      
      <div class="ingredients-container">{{ form.ingredients.label }} {{ form.ingredients() }}</div>
      
      <div class="steps-container">{{ form.steps.label }} {{ form.steps() }}</div>

      {{ form.form_submit_btn(id="form-submit-btn") }}
  </form>

  {% if data.tags_list %}
    <script>
      const existingTags = {{ data.tags_list | tojson }};
    </script>
  {% endif %}

  <!-- Load the CKEditor JS -->
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='blurb', placeholder='Pizza Blog Article') }}
  {{ ckeditor.config(name='ingredients', placeholder='Ingredients') }}
  {{ ckeditor.config(name='steps', placeholder='Cooking Instructions') }}

{% endblock %}